@import "n.css";
p{
  margin: 0!important;
}
body{
  font-weight: lighter!important;
  font-family: 'Roboto', sans-serif!important;
}
footer p{
  margin-bottom: 15px!important;
}
/*
body{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
header{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container{
  margin-top: 50px;
  display: flex;
  height: 1300px;
}

.sidebar-place{
  flex: 1;
  background-color: white;
  margin: 0;
}

.main-flex{
  flex: 5;
  display: flex;
  flex-direction: column;
}

.ebook-flex{
  flex: 2;
}

.yt-flex{
  flex: 3;
  display: flex;
  justify-content: center;
}



.catalog{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.buk{
  width: 800px;
  height: 600px;
  margin: 50px auto;
}

.catalog-text{
  text-align: top;
}
.video-text{
  text-align: top;
}

.hr2{
  width: 90%;
  margin-left: 30px;
  border-color: orange;
}
.catalog-title {
  display: flex;
  flex-direction: column;
}
.catalog-title-p{
  padding-right: 90px;
}
.sidebar-p{
  justify-content: flex-end;
}

.text{
  font-size: 23px;
  margin: 6px 0 6px 0px;
  align-items: center;
  display: flex;
  width: 100%;

  text-transform: uppercase;
}


.dot-holder{
  flex: 0 0 auto;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.text-holder{
  margin-left: 20px;
  width: inherit;
  height: inherit;
  color: black!important;
}

*/

body {
  margin: 0!important;
  padding: 0!important;
  width: 100vw;
}

.container_fuck_bootstrap {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.sidebar {
  height: auto;
  flex: 1 0 auto;
  background-color: ;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 6 0 auto;
  background-color: ;
  padding: 0 8% 0 8%;
  width: 50%;
}
.item-container{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 300px;
  flex-direction: column;
  margin-bottom: 20px;
}
.youtube_container{
  height: 440px;
}
.catalog-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #FF9900;
  font-size: 35px!important;
}
.hr1{
  width: 100%;
  border-color: orange;
  margin: 10px 0 20px 0!important;
}
.text_holder{
  display: flex;
  width: 100%;
  align-items: center;
}
.termek_text{
  flex: 1 0 auto;
  max-width: 60%;
  font-size: 20px;
  padding-left: 40px;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.termek_pic{
  flex: 1 0 auto;
  max-width: 40%;
}
.termek_pic img{
  max-width: 100%;
  max-height: 100%;
}
.buk{
  width: 100%;
  height: 80%;
  min-height: 500px;
  border-radius: 15px;
  margin-bottom: 30px;
}

/*CAROUSEL*/
.cont{
  height: calc(720px / 1.3 / 1.775);
  width: calc(721px);
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}
.carousel{
  width: 100%;
  height: 100%;
}
.carousel > .right{
  border-radius: 0 10px 10px 0;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.05) 0,rgba(0,0,0,0.2) 100%);
}
.carousel > .left{
  border-radius: 10px 0 0px 10px;
  background-image: -webkit-linear-gradient(right,rgba(0,0,0,0.05) 0,rgba(0,0,0,0.2) 100%);
}
.carousel-indicators > li{
  opacity: 1;
  cursor: pointer;
  background-color: rgba(0,0,0,.1)!important;
  border: rgba(0,0,0,.4) solid 1px!important;
}
.carousel-indicators .active{
  background-color: rgba(0,0,0,.8)!important;
}
.carousel-indicators{
  margin-bottom: -50px;
}
.carousel-control{
  transition: opacity ease-in-out .15s;
  -webkit-transition: opacity ease-in-out .15s;
  width: 85px!important;
  opacity: .3!important;
}
.carousel-control:focus{
  opacity: .3!important;
}
.carousel-control:hover{
  opacity: .45!important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    height: 200px;
    opacity: 0;
}
.carousel-inner > .item {
  vertical-align: middle;
  height: inherit;
}
.carousel-inner > .item > .carousel-caption{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  text-shadow: 0 0 0 white;
  bottom: 0;
  left: 0;
  right: 0;
}
.carousel-inner{
  height: inherit;
  width: 100%;
  text-align: center;
}
.carousel-text{
  width: 77%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.yt-item{
  height: calc(100%);
  width: 100%;
  background-color: ;
  height: inherit;
}

.yutub{
  width: 100%;
  height: 100%;
  border-bottom: rgba(0,0,0,.1) solid 1px;
}
