.cookie_big_container{
  position: fixed;
  background-color: rgb(30,30,30);
  z-index: 5;
  /*top: calc(100vh - 50px);*/
  height: 50px;
  width: 100vw;
  bottom: 0;
  box-shadow: inset 0 0 10px rgba(0,0,0,.5);
  display: none;
  font-size: 14px!important
}
.cookie_text_holder{
  color: rgba(250,250,250,.8);
  height: 100%;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  display: flex;
  width: 50vw;
  line-height: 17px;
}
.cookie_text_holder a{
  color:#ff8732!important;
  margin-left: 5px;
}
.cookie_text_holder a:hover{
  color: rgba(190, 90, 30, 1);
}
.cookie_accept_button{
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  display: flex;
}
.cookie_accept_button button{
  outline: 0;
  height: 35px;
  padding: 0 10px;
  background: #ff8732;
  border-radius: 7px;
  color: black;
  border: 1px solid rgba(129, 68, 25, 1);
  transition: background ease-in-out .2s;
  /*box-shadow: inset 0 0 2px black;*/
}
.cookie_accept_button button:hover{
  background: rgba(190, 100, 30, 1);
  border-color: rgba(140, 60, 15)
}

@media screen and (max-width: 517px) {
  .cookie_big_container{
    height: 85px;
  }
  .cookie_big_container a{
    display: none;
  }
  .cookie_accept_button{
    margin-left: 10px;
  }
}
