
.footer__container{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  background-color: rgba(0,0,0,.1)
}

.footer{
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.footer__header{
  font-size: 22px;
  margin-bottom: 10px!important;
  color: #FF9900;
}



footer a{
  color: black!important;
}
.footer__small a:hover{
    color: orange!important;
    text-decoration: none;
}
.footer__logo{
  margin: auto;
  max-width: 200px;
  height: auto;
  display: flex;
}

.footer__main{
  display: flex;
  margin-left: 30px;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}

.mobile__footer{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 90%;
}

.mobile__footermain{
  margin: 3px 10px;
}
.mobile__footermainmenu{
  font-size: 20px;
  color: orange;
}
.mobile__footermenup{
  font-size: 16px;
}
.mobile__footerlogo{
  max-height: 100px;
}
.footer__small p{
  margin: 0 0 10px 0!important;
  font-size: 17px;
}
@media screen and (max-width: 833px) {
  .footer__container{
    display: none;
  }
  .mobile__footer{
    display: flex;
  }
  .footer__logo{
    display: none;
  }
}
