@import "n.css";
body{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
header{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div{
  display: flex;
  flex: 1 0 auto;
/*  border: 1px solid red; */
  box-sizing: border-box;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(94, 76, 0, 0.161);
}
.h2{
  color: #FF9900;
  font-size: 38px;
  font-weight: lighter;
  line-height: 35px;
  margin: 0 0 0 0;
  text-align: left;
  margin: 8px 0 8px 0;
}
main span{
  color: rgba(0,0,0,.7);
  font-size: 18px;
  line-height: 25px;
  font-weight: lighter;
}
.right-side{
  flex: 2 0 auto;
}
.left-side, .right-side{
  width: 50vw;
  height: 135vh;
  align-items: center;
  justify-content: center;
}
.container{
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.data-holder{
  width: calc(100% - 120px);
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.data{
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}
.icon{
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.icon img{
  flex: 0 0 auto;
  max-width: 50%;
  max-height: 50%;
}
iframe{
  width: 90%;
  height: 90%;
  max-height: 80vh;
  border-radius: 10px;
}
.data p, .data span{
  margin-bottom: 5px;
}

@media screen and (max-device-width: 862px) {
    header{
      display: none;
    }
    main{
        flex-direction: column;
    }
}

@media screen and (max-width: 862px) {
    main{
        flex-direction: column;
    }
    header{
      display: none;
    }
    .left-side, .right-side{
      width: 100vw;
    }
    .right-side{
      height: 60vh;
    }
}
