@import "n.css";
body{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
header{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container{
  margin-top: 50px;
  display: flex;
  height: 1300px;
}

.sidebar-place{
  flex: 1;
  background-color: white;
  margin: 0;
}

.main-flex{
  flex: 5;
  display: flex;
  flex-direction: column;
}

.ebook-flex{
  flex: 2;
}

.yt-flex{
  flex: 3;
  background-color: ;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.yt-item{
  flex-grow: 1;
  max-width: 40%;
  background-color: ;
  height: 200px;
  margin: 30px;
}

.catalog{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.buk{
  width: 800px;
  height: 600px;
  margin: 50px auto;
}
.yutub{
  width: 100%;
  height: 100%;
}
.catalog-text{
  text-align: top;
}
.video-text{
  text-align: top;
}
.hr1{
  width: 90%;
  margin-left: 30px;
  border-color: orange;
}
.hr2{
  width: 90%;
  margin-left: 30px;
  border-color: orange;
}
.catalog-title {
  display: flex;
  flex-direction: column;
}
.catalog-title-p{
  padding-right: 90px;
}
.sidebar-p{
  justify-content: flex-end;
}
