@import "n.css";
body{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
header{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container{
  display: flex;
  height: 1300px;
}

.sidebar-place{
  flex: 2;
  background-color: white;
}

.main-flex{
  flex: 7;
  display: flex;
  flex-direction: column;
}

.ebook-flex{
  flex: 2;
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.yt-flex{
  flex: 3;
  background-color: ;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.yt-item{
  flex-grow: 1;
  max-width: 40%;
  background-color: ;
  height: 200px;
  margin: 30px;
}

.catalog{
  width: 80%;
  height: 80%;
}
.buk{
  width: 100%;
  height: 100%;
}
.yutub{
  width: 100%;
  height: 100%;
}
.catalog-text{
  text-align: top;
}
.video-text{
  text-align: top;
}
.hr1{
  width: 90%;
  margin-left: 30px;
}
.hr2{
  width: 90%;
  margin-left: 30px;
}
