@import "n.css";
/*
body{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
header{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container{
  margin-top: 50px;
  display: flex;
  height: 1300px;
}

.sidebar-place{
  flex: 1;
  background-color: white;
  margin: 0;
}

.main-flex{
  flex: 5;
  display: flex;
  flex-direction: column;
}

.ebook-flex{
  flex: 2;
}

.yt-flex{
  flex: 3;
  display: flex;
  justify-content: center;
}

.yt-item{
  height: 100%;
  width: 100%;
  background-color: ;
  height: inherit;
}

.catalog{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.buk{
  width: 800px;
  height: 600px;
  margin: 50px auto;
}
.yutub{
  width: 100%;
  height: 100%;
}
.catalog-text{
  text-align: top;
}
.video-text{
  text-align: top;
}
.hr1{
  width: 90%;
  margin-left: 30px;
  border-color: orange;
}
.hr2{
  width: 90%;
  margin-left: 30px;
  border-color: orange;
}
.catalog-title {
  display: flex;
  flex-direction: column;
}
.catalog-title-p{
  padding-right: 90px;
}
.sidebar-p{
  justify-content: flex-end;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    height: 200px;
    opacity: 1;
}
.carousel-inner > .item {
  vertical-align: middle;
  height: inherit;
}
.carousel-inner > .item > .carousel-caption{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  text-shadow: 0 0 0 white;
  bottom: 0;
  left: 0;
  right: 0;
}
.carousel-inner{
  height: inherit;
  width: 100%;
  text-align: center;
}
.carousel-text{
  width: 77%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.text{
  font-size: 23px;
  margin: 6px 0 6px 0px;
  align-items: center;
  display: flex;
  width: 100%;

  text-transform: uppercase;
}
.text_holder{
  display: flex;
}
.termek_text{
  flex: 1 0 auto;
  max-width: 50%;
  font-size: 18px;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.termek_pic{
  flex: 1 0 auto;
  max-width: 50%;
}
.termek_pic img{
  max-width: 100%;
  max-height: 100%;
}

.dot-holder{
  flex: 0 0 auto;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.text-holder{
  margin-left: 20px;
  width: inherit;
  height: inherit;
  color: black!important;
}
.cont{
  height: 301px;
  width: calc(535px * 1.3);
  border-radius: 10px;
  text-transform: uppercase;
  margin-top: 70px;
}
.carousel{
  width: 100%;
  height: 100%;
}
.carousel > .right{
  border-radius: 10px 0 0 10px;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0.1) 100%);
}
.carousel > .left{
  border-radius: 0 10px 10px 0;
  background-image: -webkit-linear-gradient(right,rgba(0,0,0,0) 0,rgba(0,0,0,0.1) 100%);
}
.carousel-indicators > li{
  opacity: 1.0;
  height: 0px!important;
  width: 0px!important;
  cursor: default;
}
.carousel-indicators{
  width: 0px!important;
  height: 0px!important;
}
.carousel-control:focus{
  opacity: .5;
}
.carousel-control{
  transition: opacity ease-in-out .15s;
  -webkit-transition: opacity ease-in-out .15s;
  width: 85px!important;
}
.carousel-control:hover{
  opacity: .9;
}
*/

body {
  margin: 0!important;
  padding: 0!important;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.sidebar {
  height: auto;
  flex: 1 0 auto;
  background-color: blue;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__item {
  margin: 10px 0;

  display: flex;
  flex-direction: column;
}

.sidebar__item p {
  margin: 10px;
}

.sidebar__header {
  text-align: left;
  font-size: 17px;
}

.sidebar__content {
  font-size: 13px;
  margin-left: 20px!important;
}

.content {
  height: 100px;
  flex: 7 0 auto;
  background-color: red;
}

.
