@import "n.css";
body{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
header{
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 2;
}
main div{
  display: flex;
  flex: 1 0 auto;
/*  border: 1px solid red; */
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  background-color: rgb(250,245,255);
}
.container__header{

  color: #FF9900;
  font-size: 35px;
  text-align: left;
}


.margin {
    margin-left: 120px;
}
main span{
  color: rgba(0,0,0,.7);
  font-size: 18px;
  line-height: 25px;
  font-weight: lighter;
}
.front-pic{
  z-index:2;
  background: url("../img/dent.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.right-side{
  flex: 3 1 auto;
}
.left-side{
  flex: 2 0 auto;
  justify-content: center;
  align-items: center;
}
.layer-container{
  height: 80%;
  width: 80%;
  flex: 0 1 80%;
  justify-content: center;
  align-items: center;
}
.layer{
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.45);
  border-radius: 5px;
  width: 10vw;
  box-shadow: inset 0 0 10px rgba(0,0,0,.25);
}
.layer-text-container{
  flex-direction: column;
  flex: 0 0 auto;
  height: 70%;
  width: 70%;
  justify-content: center;
}
.layer-text{
  align-items: center;
  font-size: 18px;
  color: white;
  letter-spacing: .5px;
  line-height: 24px;
  font-weight: bold;
}
.big-container{
  z-index: 2;
  min-height: 70px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: white;
}
.container{
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.centertextholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centertextholder__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centertextholder__header_hr {
  background: orange;
  border: none;
  width: 40%;
  height: 1px;
}

.textholder{
  flex : 1 0 auto;
}
.line-holder{
  text-align: center;
  overflow: visible;
  margin: 0;
  flex: 0 0 auto;
}
.line{
  margin-top: -2px;
  width: 100%;
  border-color: gray;
}
.content{
  justify-content: center;
  align-items: center;
}
.gray-container{
  background-color: rgba(135, 135, 135, 0.99);
}
.img-container{
  height: inherit;
}
.profpic{
  margin-right: 50px;
  align-items: center;
  border-radius: 50%;
  height: inherit;
}
.img .image{
  height: 10vh;
  border-radius: 50%;
}
.img{
  justify-content: flex-end;
  align-items: center;
  margin-right: 120px;
}
footer {
  z-index: 2;
  min-height: 100px;
  width: 100vw;
  background-color: rgba(143, 140, 140, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back_image_holder {
  z-index: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: red;
  background: url("../img/dent.jpg");

}

.image_back {
  z-index: 0;
  height: 45vh;
  width: 100vw;

}

.title {
  flex-direction: column;
}
