@import "n.css";
body{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
header{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div{
  display: flex;
  flex: 1 0 auto;
/*  border: 1px solid red; */
  box-sizing: border-box;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(250,245,255);
}
.h2{
  color: #FF9900;
  font-size: 38px;
  font-weight: lighter;
  line-height: 35px;
  margin: 0 0 0 0;
  text-align: left;
}
main span{
  color: rgba(0,0,0,.7);
  font-size: 18px;
  line-height: 25px;
  font-weight: lighter;
}
.front-pic{
  background: url("../img/dent.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
}
.right-side{
  flex: 3 1 auto;
}
.left-side{
  flex: 2 0 auto;
  justify-content: center;
  align-items: center;
}
.layer-container{
  height: 80%;
  width: 80%;
  flex: 0 1 80%;
  justify-content: center;
  align-items: center;
}
.layer{
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.15);
  border-radius: 5px;
}
.layer span{
  display: flex;
  max-width: 100%;
}
.big-container{
  min-height: 400px;
  justify-content: center;
  align-items: center;
}
.container{
  margin: 5% 0 5% 0;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}
.textholder{
  flex: 0 0 auto;
  width: 40vw;
  flex-direction: column;
}
.textholder div{
  margin: 10px 0 10px 0;
}
.title{
  justify-content: flex-start;
  align-items: flex-end;
  overflow: visible;
}
.line-holder{
  text-align: center;
  overflow: visible;
  margin: 0;
  flex: 0 0 auto;
}
.line{
  margin-top: -2px;
  width: 100%;
  border-color: gray;
}
.content{
  justify-content: center;
  align-items: center;
}
.gray-container{
  background-color: rgb(220,220,220);
}
.img-container{
  height: inherit;
}
.profpic{
  margin-right: 50px;
  align-items: center;
  border-radius: 50%;
  height: inherit;
}
.img .image{
  height: 30vh;
  border-radius: 50%;
}
.img{
  justify-content: center;
  align-items: center;
}
footer{
  min-height: 300px;
  background: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
