
.footer__container{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid black;

}
.footer{
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__header{
  font-size: 20px;
  color: #FF9900;
}
.footer__small a:hover{
    color: orange;
}
.footer__small{
  color: black;
}
.footer__logo{
  margin: auto;
  max-width: 200px;
  height: auto;
}
.footer__main{
  display: flex;
  margin-left: 30px;
}
