

.footer__container{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.footer{
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.footer__header{
  font-size: 20px;
  color: #FF9900;
}

.footer__small a:hover{
    color: orange;
    text-decoration: none;
}

.footer__small{
  color: black;
}

.footer__logo{
  margin: auto;
  max-width: 200px;
  height: auto;
  display: flex;
}

.footer__main{
  display: flex;
  margin-left: 30px;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}

.mobile__footer{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 90%;
}

.mobile__footermain{
  margin: 3px 10px;
}
.mobile__footermainmenu{
  font-size: 15px;
}
.mobile__footermenup{
  font-size: 10px;
}
.mobile__footerlogo{
  max-height: 100px;
}

@media screen and (max-width: 768px) {
  .footer__container{
    display: none;
  }
  .mobile__footer{
    display: flex;
  }
  .footer__logo{
    display: none;
  }
}
