.Main{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  color: rgb(33, 33, 33);
}
.Space{
  display: flex;
  padding: 30px;
  align-items: center;
  width: 100vw;
  justify-content: flex-end;

}
.Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.Bottomlogo{
  display: flex;
  margin-left: 60px;
  align-items: center;
  justify-content: flex-start;
}

.Menu{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
  font-style: Times;
  padding: 10px 30px;
  border-right: 2px solid orange;
  color: rgb(33, 33, 33);
  transition: color ease-in-out .15s;
}

.rightmenu {
  border-right: 0!important;
}
.Menu:hover{
  color: orange;
  box-sizing: border-box;
}

.Atag{
  text-decoration: none;
  color: black;
  height: inherit;
}
.Mainheader{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 90px;
}
.Logo{
  margin-left: 60px;
}

.mainlogo {
  margin-top: 10px;
  width: 300px;
}

.mobile__header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.mobile__logo{
  height: 50px;
}

.mobile__mainmenu{
  display: flex;
  flex-direction: row;
}

.mobile__menu{
  display: flex;
  margin: 3px 10px;
  font-weight: bold;
  color: orange;
  border-radius: 2px;
}
@media screen and (max-width: 768px) {
  .Main{
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .mobile__header{
    display: none;
  }
}
