@import "n.css";
body{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
header{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div{
  display: flex;
  flex: 1 0 auto;
/*  border: 1px solid red; */
  box-sizing: border-box;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(94, 76, 0, 0.161);
}
.h2{
  color: #FF9900;
  font-size: 38px;
  font-weight: lighter;
  line-height: 35px;
  margin: 0 0 0 0;
  text-align: left;
  margin: 8px 0 8px 0;
}
main span{
  color: rgba(0,0,0,.7);
  font-size: 18px;
  line-height: 25px;
  font-weight: lighter;
}
.left-side, .right-side{
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.container{
  flex: 0 0 auto;
  height: 80%;
  width: 80%;
  flex-direction: column;
}

.data{
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}
iframe{
  width: 800px;
  height: 555px;
  border-radius: 10px;
}

footer{
  min-height: 300px;
  background: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
