@import "n.css";

* {
  box-sizing: border-box;
}
.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-container {
  width:80%;
  background-color: white;
  display: flex;
}

.inside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-p {
  font-size: 25px;
  color: 	#FF9900;
  letter-spacing: 2px;
  margin-left: 30px;
  font-weight: bold;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.p-container {
  display: flex;
  width: 100%;
}

.sidebar-items {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  padding-left: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.sidebar-items:hover{
  background-color: orange;
  color: white;
}
