@import "n.css";

* {
  box-sizing: border-box;
}
body{
  padding-left: 30px;
}
.sidebar-place{
  flex-grow: 1;
  flex-shrink: 0;

}
.main-flex{
  flex-grow: 5;
  flex-shrink: 3;
}
.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-container {
  width:80%;
  background-color: white;
  display: flex;
/*  border-bottom: 1px solid orange;
  border-top: 1px solid orange; */
}

.inside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-p {
  margin: 0;
  font-size: 20px;
  color: 	#FF9900;
  letter-spacing: 2px;
  font-weight: bold;
  display: flex;
  font-family: 'Roboto', sans-serif;
}


.p-container {
  display: flex;
  width: 100%;
}

.sidebar-items{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  padding-left: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-decoration: none;
  color: black;
}

.sidebar-items:hover{
  color: orange;
}

.sidebar-section{
  margin-bottom: 10px;
  width: 100%;
}

.sidebar-hr {
  border-color: orange;
  width: 75%;
  float: left;
}
